<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>قیچی</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home">خانه</a>
      <a mat-list-item href="/public-login">ورود به سامانه </a>
      <a mat-list-item href="/assist">همکاری</a>
      <a mat-list-item href="/support">پشتیبانی</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>قیچی : سامانه نوبت دهی سالن های زیبایی</span>
      <span class="example-spacer"></span>
      <div id="toolbar-btn">
        <a mat-button href="/public-login">
          <mat-icon>login</mat-icon>ورود
        </a>
        <a mat-button href="/public-register">
          <mat-icon>person add</mat-icon>ثبت نام
        </a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
